// Visual Grid
//--------------------------------------
$visual-grid: false;
$visual-grid-color: transparentize(blue,0.9);
$visual-grid-index: back;


// Import Base Files
//--------------------------------------
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

// Plugins
@import "font-awesome/font-awesome"; 