body {
  @include position(absolute, 0px null null null);
  @include size(100% 100%);
  min-height: 100%;
  @include clearfix;
  padding: 0;
  margin: 0;
	
  main {
    @include position(relative, null);
    @include size(100% auto);
    @include clearfix;
    min-height: 100%;

    section {
      position: relative;
      @include size(100% auto);
      background: whitesmoke;
      @include padding(null em(20) null em(20));
      @include clearfix;

    >div {
      @include outer-container;
    }

    article {
      position: relative;
      @include span-columns(12);
      @include clearfix;
      @include margin(em(100) null);
    }
  }

  .cta {
    color: $blue;
    @include margin(1em null null null);

    span {border-bottom: 2px solid transparent;}
    img {
      display: inline-block;
      height: em(35);
      @include margin(-0.2em 0 0 0);
      vertical-align: middle;
      @include padding(0 0.4em);
    }
    &:hover {
      span {border-bottom: 2px solid $blue;}
      img {
        @include transform(rotate(360deg));
        @include transition(all, 0.5s ease-in-out);
      }
    }
  } // End .cta


  } // End main	
} // End body