main.home {
	@include size(100% 100%);
	
	section {
		min-height: 100%;
	
		article {
			@include position(absolute, 50% null null 50%);
			@include transform(translate(-50%,-50%));
			@include size(100% auto);
			max-width: 60em;
			@include padding(null em(20) null em(20));
			@include margin(auto);
			
			@include media($extended-up) {
				@include padding(0);
			}
			
			h1 {
				font-size: 2.4em;
				
				a {
					border-bottom: 2px solid dodgerblue;
					color: inherit;
					&:hover { color: $base-link-color;}
					
					span {
						background-color: dodgerblue !important;
					}
				}
					.typed-cursor{
							opacity: 1;
							@include animation(blink 0.7s ease-in infinite);
					}
					@include keyframes(blink) {
						0% {
							opacity: 1;
						}
						50% {
							opacity: 0;
						}
						100% {
							opacity: 1;
						}
					}
				@include media($tablet-up) { 
					font-size: 3.2em;
				
					a {
						border-bottom-width: 4px;
					}
				}
				@include media($medium-up) { 
					font-size: 3.6em;
				}
				@include media($large-up) { 
					font-size: 5em;
				}
				
			} //End h1
		} // End article
	}// End section
} // End home