body {
	main.project {
		article {
			@include span-columns(12);
			@include margin(em(40) 0);
			
			h1 {
				text-align: center;
				@include margin(null null 0.3em null);
			}
      h6.type {
        @include margin(em(10) 0 0 0);
        color: $blue;
        
        @include media($small-screen) {
          display:inline-block;
        }
      }
      hr {
        @include margin(em(20) 0);
      }
      img {
        @include margin(0 0 1.5em 0);
      }
      
			ul {
				@include position(relative, null);
				@include size(100% auto);
				color: white;
				text-align: center;
				@include transition(all, .2s ease-in-out);
        @include margin(em(30) 0);
				
					li {
						font-size: .6em;
						display: inline-block;
						font-family: $sans-serif;
						font-weight: 800;
						@include padding(.3em 1em);
						text-transform: uppercase;
						background: transparentize($blue, .2);
						@include margin(auto 0.3em);
						border-radius: 1.2em;
					}
				}
			
		} // End article
	} // End section.project

	.project-head {
		@include position(relative, 0);
		@include size(100% 16em);
		background: whitesmoke;
		display: block;
		z-index:-1;
		
		@include media($tablet-screen) {@include size(100% 20em);}
	
		.holder {
			@include position(relative, 0 0 null null);
			@include size(100% 16em);
			overflow: hidden;
			
			@include media($tablet-down) {
				top: 0!important;
			}
			
			@include media($tablet-screen) {
				@include position(fixed, 0 0 null null);
				@include size(100% 20em);
			}	
			
			img {
				@include position(absolute, 50% null null 50%);
				@include size(auto 100%);
				@include transform(translate(-50%, -50%));
				max-width: none;
				
				@include media($medium-screen) {
					@include size(100% auto);
				}	
			}
		}
	}
	.portfolio-control {
		@include media($tablet-up) {
			@include position(fixed, null 0 0 0);
		}
		@include margin(0);
		@include size(100% 3.75em);
		background: whitesmoke;
		z-index: 1;
		
		ul {
			@include position(relative, null);
			@include size(100% 100%);
			@include margin(0);
			color: white;
			opacity: 1;
			@include transition(all, .2s ease-in-out);
			text-align: center;
			border-top: 1px solid $light-gray;
			
				li {
					font-size: 0.5em;
					display: inline-block;
					font-family: $sans-serif;
					font-weight: 800;
					text-transform: uppercase;
					@include size(10em 100%);
					
					&:first-child, &:last-child {
						a {
							&:hover, &:focus {
								&:before {background-image: url(../img/arrow.png);}
							}
							&:before {background-image: url(../img/arrow-blue.png);}
						}
					}


					&:first-child {
						float: left;
						border-right: 1px solid $light-gray;
						
						a:before {
							@include transform(rotate(-180deg));
						}
					}
					
					&:last-child {
						float: right;
						border-left: 1px solid $light-gray;
						}
					}
					
					a {
						display: block;
						@include padding(.3em .4em);
						@include size(100% 100%);
						@include transition (all 0.1s ease-in-out);
						
						&:hover, &:focus {
							background: darken(whitesmoke, 5%);
							color: $medium-gray;
							
							&:before {
								background-image: url(../img/all.png);
							}
						}
						
						&:before {
							content: '';
							background-image: url(../img/all-blue.png);
							background-size: 4em;
							background-repeat:no-repeat;
							@include size(4em 4em);
							@include margin(3px auto);
							display: block;
						}
						
						img {
							width: 40px;
							@include margin(3px auto);
							display: block;
						}
						
						&.disabled {
							cursor: not-allowed;
							background: darken(whitesmoke, 2%);
							color: $medium-gray;
							opacity: 0.2;
							
							&:before {
								background-image: url(../img/arrow.png) !important;
							}
						}
					}
				}
	
	}
	
} // End body