<footer>
  <p class="footer-copy">&copy; 2015 &amp; Beyond. Matthew Elsom. All Rights Reserved.</p>
    <ul class="footer-links">
      <li><a href="http://linkedin.com/in/matthewelsom" title="Matthew Elsom on LinkedIn" target="_blank">LinkedIn</a></li>
      <li><a href="https://instagram.com/matthewelsom/" title="Matthew Elsom on Instgram" target="_blank">@matthewelsom</a></li>
      <li><a href="{{ site.baseurl }}/sitemap.html" title="Sitemap">Sitemap</a></li>
      <li><a href="{{ site.baseurl }}/feed.xml" title="RSS Feed" target="_blank">RSS Feed</a></li>
    </ul>  
</footer>