<div class="menu">	    
  <a href="/" id="logo">MatthewElsom.com</a>
  <button type="button" class="menu-trigger menu-button"><span class="bar"></span><span class="bar"></span></button> 
  <nav class="menu-content">
    <ul> 
      {% for menu in site.data.sitemap.nav %}
      {% for menuitem in menu.menuitems %}
      {% if page.url == menuitem.url or page.category == 'portfolio' and menuitem.url contains 'portfolio' %}
      <li><a class="active" href="{{site.baseurl}}{{ menuitem.url | replace:'index.html','' | replace:'.html','' }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
      {% elsif page.url == menuitem.url or page.category == 'blog' and menuitem.url contains 'blog' %}
      <li><a class="active" href="{{site.baseurl}}{{ menuitem.url | replace:'index.html','' | replace:'.html','' }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
      {% else %}
      <li><a href="{{site.baseurl}}{{ menuitem.url | replace:'index.html','' | replace:'.html','' }}" title="{{ menuitem.title }}">{{ menuitem.title }}</a></li>
      {% endif %} 
      {% endfor %}
      {% endfor %} 
    </ul>  
  </nav>
</div>