<div class="instabanner">
  <a href="https://instagram.com/matthewelsom/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
</div> 
<div id="instafeed"></div>

<script src="{{ site.baseurl }}/assets/js/libs/instafeed.js"></script>
<script type="text/javascript">
  var userFeed = new Instafeed({
    get: 'user',
    userId: '623597756',
    clientId: '02b47e1b98ce4f04adc271ffbd26611d',
    accessToken: '623597756.02b47e1.3dbf3cb6dc3f4dccbc5b1b5ae8c74a72',
    resolution: 'standard_resolution',
    template: {% raw %}'<a href="https://instagram.com/matthewelsom/" target="_blank" class="hi {{id}}"><img src="{{image}}" /><span>{{likes}}{{comments}}</span></a>'{% endraw %},
    sortBy: 'most-recent',
    limit: 32,
    links: false
  });
  userFeed.run();
</script>