<div class="sidebar_latest">
  <h4>Latest Projects</h4>
  {% assign new_sorted_portfolio = site.posts | sort: 'date' | reverse | where: "category", "portfolio" %}
  <ul>
    {% for project in new_sorted_portfolio limit: 5 %}
    <li class="latest_link">
      <a href="{{ project.url }}">
        <img class="latest_image" src="{{ site.baseurl }}/portfolio/portfolio_img/grid/{{ project.grid-image }}">
        <div class="latest_title">{{ project.title | truncate: 70 }}<span class="latest_date">{{ project.date | date: '%B %d, %Y' }}</span></div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>




