<h4>Share</h4>
<ul>
  <li>
    <a href="javascipt:void(0);" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer.php?u={{ site.siteurl }}{{ site.sitebaseurl }}{{ page.url }}&title={{ page.title }}  ','','width=600,height=400')"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
  </li>
  <li>
    <a href="https://www.facebook.com/dialog/shareapp_id=1551038251882641&amp;display=popup&amp;href=https://www.facebook.com/sharer.php?u={{ site.siteurl }}{{ site.sitebaseurl }}{{ page.url }}&amp;redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer">test</a>
  </li>
</ul>