<div class="share-widget">
<h4 class="share-title">Share:</h4>
<ul class="share-list">
  <li>
    <a href="javascipt:void(0);" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer.php?u={{ site.siteurl }}{{ site.sitebaseurl }}{{ page.url }}&title={{ page.title }}  ','','width=600,height=400')"><i class="fa fa-facebook"></i> Facebook</a>
  </li>
  <li>
    <a href="javascipt:void(0);" title="Share on Linked In" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}','','width=600,height=400')"><i class="fa fa-linkedin"></i> Linked In</a>
  </li>
  <li>
    <a href="mailto:?Subject={{ page.title }}&amp;Body=Check%20this%20out!%20 {{ site.siteurl }}{{ site.sitebaseurl }}{{ page.url }}"><i class="fa fa-send"></i> Email</a>
  </li>
  <li>
    <a id="top-button" href="#top">Back to Top</a>
  </li>
</ul>
</div>