.instabanner {
	position: relative;
	background: dodgerblue;
	text-align: center;
	
	&:after {
		content: ' ';
		position: absolute;
		bottom: -9px;
		left: 50%;
		width: 0;
		height: 0;
		display: block;
		margin-left: -10px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid dodgerblue;
		z-index: 10;
	}
	
	a {
		padding: 1.75em;
		display: block;
	}
	h6 {
		text-align: center;
		color: white;
	}
}

#instafeed {
	@include clearfix;
	max-width: none;
	
	a {
		display: block;
		float: left;
		width: 50%;
		background: dodgerblue;
		position:relative;
		
		&:hover {
			img {opacity: 0.5}
		}
		
		@include media($tablet-up) {
			width: 33.33%;
		}
		@include media($medium-up) {
			width: 25%;
		}
		span {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0.5em 0.75em;
			z-index: 1;
			background: dodgerblue;
			color: white;
			font-weight: bold;
			font-size: 0.8em;
		}
		img {
			float: left;
			@include transition (all 0.5s ease-in-out);
		}
	}
} //End instafeed