$menu-accentColor: dodgerblue;
$menu-defaultColor: whitesmoke;
$menu-altColor: white;
$sliding-menu-border: 1px solid dodgerblue;
$sliding-menu-color-hover: dodgerblue;

$menu-break: $tablet-screen;

.menu {
  @include position(fixed, 0 null null null);
  @include size(100% em(80));
  z-index: 999999;
  background: transparent;
  @include transition(all 0.2s $ease-out-quad);
  
  &.nav-up {
    top: em(-80);
  }
  
  &.is-visible {
    background: none !important;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    
    #logo {
      color: $menu-altColor;
      &:hover {
        color: darken($menu-accentColor, 20%);
      }
    }
  }
  &.showbg {
    background: transparentize($menu-accentColor, 0.1);
    
    #logo {
      color: $menu-altColor;
      &:before {
        background: $menu-altColor;
      }
      &:hover {
        color: $menu-altColor;
      }
    }
    .sliding-menu-button {
      border-color: $menu-altColor;
      
      span.bar {
        background: $menu-altColor;
      }
      &:hover {
        border-color: darken($menu-accentColor, 20%);
        
        span.bar {
          background: darken($menu-accentColor, 20%);
        }
      }
    }
    .sliding-menu-content li a{
      color: $menu-altColor;
      
      &:before {
        background: $menu-altColor;
      }
    }
  }
}




#logo {
  @include position(absolute, em(34) null null em(20));
  display: inline-block;
  height: auto;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  
  &:before {
    @include position(absolute, null null 0 0);
    content: "";
    width: 100%;
    height: 2px;
    background-color: $menu-accentColor;
    visibility: visible;
    @include transform(scaleX(1));
    @include transform-origin(left);
    @include transition(all .3s ease-in-out);
  }
  
  &:hover {
    &:before {
      visibility: hidden;
      @include transform(scaleX(0));
    }
  }
}



.sliding-menu-button {
  @include position(absolute, 1em em(20) null null);
  @include size(em(50));
  border-radius: em(40);
  border: 2px solid $menu-accentColor;
  background: transparent;
  cursor: pointer;
  outline: none;
  @include transition(all 0.2s $ease-out-circ);
  @include padding(0);
  
  span.bar {
    @include size(em(18) em(2));
    @include margin(em(3) auto);
    display: block;
    opacity: 1;
    background: $menu-accentColor;
    @include transition(all 0.2s $ease-out-circ);
  }
  &:hover {
    background: $menu-accentColor;
    span.bar {
      background: $menu-defaultColor;
    }
  }
  &.is-visible {
    background: transparent;
    border-color: $menu-defaultColor;
    &:hover {
      border-color: darken($menu-accentColor, 20%);
      span.bar {
        background: darken($menu-accentColor, 20%);
      }
    }
    span.bar {
      @include size(em(20) em(2));
      background: $menu-defaultColor;
      &:first-child {
        @include transform(scale(1) rotate(45deg));
        @include position(relative, em(5) null null null);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        @include transform(scale(1) rotate(-45deg));
        @include position(relative, null null em(5) null);
      }
    }
  }
  
  @include media($menu-break) {
    display: none;
  }
}

.sliding-menu-content {
  @include position(relative, em(80) null null null);
  @include size(100% auto);
  @include transform(translateY(100%));
  @include transition(all .2s $ease-out-circ);
  @include padding(null em(80));
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  text-align: center;
  font-family: $serif;
  opacity: 0;
  
  li {
    @include padding(em(10) null null null);
    
    a {
      position: relative;
      display: block;
      font-size: 2em;
      color: $menu-altColor;
      
      &:before {
        @include position(absolute, null null 0 0);
        content: "";
        width: 100%;
        height: 2px;
        background-color: darken($menu-accentColor, 20%);
        visibility: hidden;
        @include transform(scaleX(0));
        @include transform-origin(left);
        @include transition(all .3s ease-in-out);
      }
      
      &:hover {
        color: darken($menu-accentColor, 20%);
        
        &:before {
          visibility: visible;
          @include transform(scaleX(1));
        }
        
      }
      &.active {
        border-bottom: em(2) solid white
      }
    }
  }
  
  &.is-visible {
    @include transform(translateY(0));
    opacity: 1;
    display: block;
    visibility: visible;
  }
  
  @include media($menu-break) {
    @include position(absolute, 0 em(20) null null);
    @include transform(translateY(0));
    visibility: visible;
    opacity: 1;
    @include padding(0);
    @include size(auto);
    font-family: $sans-serif;
    text-transform: uppercase;
    
    li {
      @include padding(0 em(20));
      float: left;
      display: inline-block;
      &:last-child {
        @include padding(0 0 0 em(20));
      }
      a {
        color: $menu-accentColor;
        font-size: .8em;
        margin: em(34) 0;
        display: block;
        font-weight: bold;
        &:hover {
          color: darken($menu-accentColor, 20%);
        }
        &.active {
          border-bottom: em(2) solid $menu-accentColor
        }
      }
    }
  }
}

.menu-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: rgba($menu-accentColor, 0.95);
  opacity: 0;
  visibility: hidden;
  z-index: 999998;
  height: 100%;
  width: 100%;
  
  &.is-visible {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}