ul.tags {
	@include position(relative, null);
	@include size(100% auto);
	@include margin(1em auto);
	color: white;
	opacity: 1;
	@include transition(all, .2s ease-in-out);

	li {
		font-size: .6em;
		display: inline-block;
		font-family: $sans-serif;
		font-weight: 800;
		@include padding(.3em 1em);
		text-transform: uppercase;
		background: transparentize($blue, .2);
		@include margin(auto 0.3em);
		border-radius: 1.2em;
	}
}
