$super-screen: 1500px;

#project {
  article {
    padding-bottom: $base-spacing;
    
    @include media($medium-screen) {
      @include span-columns(8 of 12);
    }
  } // End article
  .tags {
    margin-bottom: $base-padding;
  }
} // End section.project
.project-head {
  display: none;
  
  img {
    width: 100%;
  }
  
  @include media($super-screen) {
    display: block;
  }
}