//Sidebar Latest
.sidebar_latest {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li.latest_link {
      margin: $small-spacing 0;
      
      &:first-of-type {
        margin-top: $base-padding;
      }
      
      a {
        @include display(flex);
        @include align-items(flex-start);
        border: $base-border;
        border-color: $light-gray;
        padding: $small-spacing;
        background: white;
        border-radius: $base-border-radius;
        
        .latest_image {
          display: none;
          @include transition(all $base-duration $base-timing);
          z-index: 1;
        
          @include media($large-screen) {
            display: block;
            height: 4rem;
            margin-right: $small-spacing;
          }
        }
        .latest_title {
          span {
            display: block;
            font-size: .8rem;
            color: lightgray;
          }
        }
        &:hover,
        &:focus {
          .latest_image {
            @include filter(grayscale(100%));
          }
        }
      }
    }
  }
}

//Sidebar More Like This
.sidebar_more {
}